{% extends "Base/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
Position

{% endblock %}

{% block body %}
<form action="/position/" method="post" style="padding:10px" action="/">
    {% csrf_token %}
    <label title="x_coordinates"> X coordinates </label>
    <input type="number" name="x_coordinates">
    <label title="y_coordinates"> Y coordinates </label>
    <input type="number" name="y_coordinates">
    <input type="submit" value="Submit" onclick="document.forms[0].submit();return false;">
</form>
{% endblock %}
