<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>Logout Page</title>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="{% static 'css/com.css' %}" rel="stylesheet">
</head>

<body background="{% static 'images/bg.jpg' %}">

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div class="wrapper">
        <img src="{% static 'images/flag2.jpg' %}" class="item flag">
        <div class="item">
            <form method="POST" action="/sign_out/">
                {%csrf_token%}
                <!--<div class = "heading"> REGISTER </div>-->
                <br>
                <br>
                Administrator Password
                <br>
                <br>
                <img src="{% static 'images/icon.png' %}" class="icon">
                <input type="Password" name="password" required>
                <br>
                <br>
                <button type="submit" name="login">
                    Login
                </button>
            </form>
        </div>
        <img src="{% static 'images/castle1.jpg' %}" class="item castle">
    </div>

</body>

</html>